<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/anamenu-files/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş</title>
    <link rel="stylesheet" href="../login-files/Login.css">
</head>

<body>
    <form action="/login" method="post">
        <h2>Giriş</h2>
        <input type="text" name="name" placeholder="Kullanıcı Adı" autocomplete="false" required>
        <input type="password" name="password" placeholder="Parola" required>
        <input type="submit" value="Giriş Yap">
    </form>
</body>

</html>