<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/anamenu-files/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hesabım</title>
    <link rel="stylesheet" href="../user-files/Parola/parola.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="#">ACIKTIM</a>
            </div>
            <ul>
                <li><a href="/user">Ana Sayfa</a></li>
                <li><a href="/user/menu">Menüler</a></li>
                <li><a href="/user/hakkimizda">Hakkımızda</a></li>
                <li><a href="/user/hesabim" class="active">Hesabım</a></li>
            </ul>
        </div>
        <div id="listeDiv">
            <ul id="liste">
                <li><a class="secenek" href="/user/hesabim/gecmis">Sipariş Geçmişi</a></li>
                <li><a class="secenek" href="/user/hesabim/kullanici">Kullanıcı Adımı Değiştir</a></li>
                <li><a class="secenek" id="aktif" href="/user/hesabim/parola">Parolamı Değiştir</a></li>
                <li><a class="secenek" id="hesapKaldir" href="/user/hesabim/sil">Hesabımı Kaldır</a></li>
            </ul>
        </div>

        <strong> Parola Değişikliği</strong>
        <div id="islem">
            <form id="alan" method="post" action="/user/hesabim/parola">
                Eski Parola: <input type="text" name="eskiParola" placeholder="Eski Parola" required> <br /><br />
                Yeni Parola: <input type="password" name="yeniParola" placeholder="Yeni Parola" required> <br /><br />
                Onayla: <input type="password" name="yeniParolaOnay" placeholder="Yeni Parolanı Tekrar Gir"
                    required><br /><br />
                <input type="submit" value="Onayla" id="onayla">
            </form>
        </div>
</body>

</html>