<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/anamenu-files/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hesabım</title>
    <link rel="stylesheet" href="../user-files/hata/kullanici/kullanici.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="#">ACIKTIM</a>
            </div>
            <ul>
                <li><a href="/user">Ana Sayfa</a></li>
                <li><a href="/user/menu">Menüler</a></li>
                <li><a href="/user/hakkimizda">Hakkımızda</a></li>
                <li><a href="/user/hesabim" class="active">Hesabım</a></li>
            </ul>
        </div>
        <div id="listeDiv">
            <ul id="liste">
                <li><a class="secenek" href="/user/hesabim/gecmis">Sipariş Geçmişi</a></li>
                <li><a class="secenek" id="aktif" href="/user/hesabim/kullanici">Kullanıcı Adımı Değiştir</a></li>
                <li><a class="secenek" href="/user/hesabim/parola">Parolamı Değiştir</a></li>
                <li><a class="secenek" id="hesapKaldir" href="/user/hesabim/sil">Hesabımı Kaldır</a></li>
            </ul>
        </div>
        <strong> Kullanıcı Adı Değişikliği</strong>
        <div id="islem">
            <form id="alan" method="post" action="/user/hesabim/kullanici">
                Yeni Adın: <input type="text" name="yeniAd" placeholder="Yeni Kullanıcı Adı" required> <br /><br />
                Şifre: <input type="password" name="password" placeholder="Şifre" required><br /><br />
                <input type="submit" value="Onayla" id="onayla">
            </form>
        </div>
        <a id="hataMesaj">Bir şeyler ters gitti lütfen girişlerini kontrol et </a>
</body>

</html>