<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acıktım</title>
    <link rel="icon" type="image/x-icon" href="/anamenu-files/favicon.ico">
    <link rel="stylesheet" href="./anamenu-login-files/anamenu.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="#">ACIKTIM</a>
            </div>
            <ul>
                <li><a href="/user" class="active">Ana Sayfa</a></li>
                <li><a href="/user/menu">Menüler</a></li>
                <li><a href="/user/hakkimizda">Hakkımızda</a></li>
                <li><a href="/user/hesabim">Hesabım</a></li>
            </ul>
        </div>
        <div class="center">
            <h1>ACIKTIN MI?</h1>
            <h2>Adresin belli</h2>
        </div>
    </div>
</body>

</html>